<div class="loading-container" style="position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5); /* White background with opacity for blur effect */
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(8px); ">
    <img style="max-width:100px;" src="images/loadingeat.svg" alt="Loading..." />
</div>

@code {

}
