@* 

<form asp-controller="Book" asp-action="CreateBook" method="post">
    <div class="model-header">
        <label>Create Book</label>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="Name">Name</label>
        <input type="text" asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="ISBN">ISBN</label>
        <input type="text" asp-for="ISBN" class="form-control"/>
        <span asp-validation-for="ISBN" class="text-danger"></span>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="Category">Category</label>
        <input type="text" asp-for="Category" class="form-control" asp-items="Html.GetEnumSelectList" />
        <span asp-validation-for="Category" class="text-danger"></span>
    </div> 
    <div class="form-group col-md-6">
        <label>PublishedDate</label>
        <input type="text" asp-for="PublishedDate" class="form-control" />
        <span asp-validation-for="PublishedDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Select Authors</label>
         
        @foreach(Author item in ViewBag.Authors as IEnumerable<Author)
        {
            
        }
    </div>
</form> *@